/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Anton', sans-serif;
    font-family: 'NotoSans', sans-serif;
    overflow-x: hidden;
  }

  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */

  ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  ::selection {
    background: #b3d4fc;
    text-shadow: none;
  }

  /*
   * A better looking default horizontal rule
   */

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
    vertical-align: middle;
  }

  /*
   * Remove default fieldset styles.
   */

  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }

  /*
   * Allow only vertical resizing of textareas.
   */

  textarea {
    resize: vertical;
  }

  /* ==========================================================================
     Browser Upgrade Prompt
     ========================================================================== */

  .browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
  }

  /* ==========================================================================
     Author's custom styles
     ========================================================================== */

  /*Begin Hero Styles*/
  .Hero{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../img/billy_joel_hero.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #3D3935;
    background-blend-mode: lighten;
    position: relative;
  }

  .NavBar{
    position: absolute;
    right: 30px;
    top: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .NavBar a{
    color: #ffffff;
    font-family: 'NotoSans', sans-serif;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
  }

  .container{
    display: none;
  }

/* Enlarged the text a bit and transformed it to uppercase with white lettering. it's easier to read and definitely stands out for brand presence. */
  .BillyJoel{
    color: #fff;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    position: absolute;
    left: 30px;
    top: 1px;
    text-transform: uppercase;
  }
  /*End Hero Section*/

  /*Begin About Section*/
  .About {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../img/billy_joel_about.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 80% auto;
    background-attachment: fixed;
    background-color: #030304;
    position: relative;
  }

  .About_mobile{
    display: none;
  }

/* fixed positioning: made .About position relative so you can push this class down 10px and left 30px. Much easier to maintain for mobile. */

  .about_section_title{
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    position: absolute;
    left: 30px;
    top: 10px;
    text-decoration: none;
  }

/* kept styles going the whole way through all of the headers on the page. */
  .about_section_title h1{
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    font-size: 50px;
    margin: 2%;
  }

  .sectionbox_about{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px;
    position: absolute;
    right: 30px;
  }

  #about_section{
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    font-size: 15px;
    text-decoration: none;
  }
  /*End About Section*/

  /*Begin Tour Section*/
  .Tour{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-image: url('../img/billy_joel_tour.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }

  .tour_section_title{
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    position: absolute;
    left: 30px;
    top: 10px;
    text-decoration: none;
  }

/* Reworked for consistency with other headers */
  .tour_section_title h1{
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    font-size: 50px;
    margin: 2%;
  }
  .tour_sectionbox{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 60px;
  }
  .tour_dates{
    color: #fff;
    width: 100%;
    padding: 0;
    line-height: 0px;
  }
  .tour_day{
    text-align: center;
    font-size: 58px;
  }
  .tour_month_year{
    position: relative;
    top: -18px;
  }
  .tour_venue{
    color: #fff;
    width: 100%;
    text-align: left;
    padding: 18px;
  }
  .tour_section_mobile{
    display: none;
  }


/* Added basic styles to a button element to get rid of the background color */
  button{
   background-color: Transparent;
   background-repeat:no-repeat;
   border: none;
   cursor:pointer;
   overflow: hidden;
   outline:none;
  }

  .chevron{
    display: flex;
    position: absolute;
    left: 45px;
  }

  .chevron:hover{
    opacity: .5;
  }

/*
  .showTour{
    background-color: rgba(255,255,255,.0)
    border: none;
  }
  */
  /*End Tour Section*/

  /*Begin Testimonial Section*/


  /* Reworked Testimonial layout to be easier to maintain on mobile. */

  .Testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    background-color: #3D3935;
    position: relative;
  }

  .testimonial_layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

/* restyled the header to be a header */
  .testimonial_layout h1{
    color: #fff;
    font-family: 'NotoSans', sans-serif;
    font-size: 50px;
    margin: 2%;
  }

  .testimonial_box{
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    background-color: #fff;
  }

  .testimonial_box_mobile{
    display: none;
  }


/* add some line-height and increased the font size to 16px to help it take up a bit more space. */

  .testimonial_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 30px;
    font-family: 'NotoSans', sans-serif;
    font-size: 16px;
    line-height: 1.7rem;
  }

  .testmionial_1_image{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }


/* Made the width more equal. This shrunk the size of the testimonial_box but it looks better now. */
  .testmionial_1_image img{
    width: 400px;

    height: auto;
  }
  /*End Testimonial Section*/

  /*Begin Footer Section*/
  .footer{
    height: 7vh;
    display: flex;
    background-color: #030304;
  }

  .footer_nav{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
  }

  .footer_nav a{
    color: #ffffff;
    align-items: center;
    padding: 20px;
    font-family: 'NotoSans', sans-serif;
    font-size: 17px;
    text-decoration: none;
  }
  /*End Footer Section*/

  /* Full Canvas Overlay */

  .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.tours{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: row;
  width: 90%;
  position: relative;
  top: -190px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
/* End Overlay */

/* Mobile Nav */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-right: 50px;
}

#main {
  transition: margin-right .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* End Mobile Nav */

  /* ==========================================================================
     Helper classes
     ========================================================================== */

  /*
   * Hide visually and from screen readers
   */

  .hidden {
    display: none !important;
  }

  /*
  * Hide only visually, but have it available for screen readers:
  * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
  *
  * 1. For long content, line feeds are not interpreted as spaces and small width
  *    causes content to wrap 1 word per line:
  *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
  */

  .sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* 1 */
  }

  /*
  * Extends the .sr-only class to allow the element
  * to be focusable when navigated to via the keyboard:
  * https://www.drupal.org/node/897638
  */

  .sr-only.focusable:active,
  .sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    white-space: inherit;
    width: auto;
  }

  /*
  * Hide visually and from screen readers, but maintain layout
  */

  .invisible {
    visibility: hidden;
  }

  /*
  * Clearfix: contain floats
  *
  * For modern browsers
  * 1. The space content is one way to avoid an Opera bug when the
  *    `contenteditable` attribute is included anywhere else in the document.
  *    Otherwise it causes space to appear at the top and bottom of elements
  *    that receive the `clearfix` class.
  * 2. The use of `table` rather than `block` is only necessary if using
  *    `:before` to contain the top-margins of child elements.
  */

  .clearfix:before,
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
  }

  .clearfix:after {
    clear: both;
  }

  /* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

/* On screens that are 1000px wide or less */
@media screen and (max-width: 1298px) {
  .testimonial_box{
    width: 72%;
  }
}

@media screen and (max-width: 1286px) {
  .testmionial_1_image img{
    width: 380px;
    height: auto;
  }
}

@media screen and (max-width: 1269px) {
  .testimonial_box{
    width: 80%;
  }
}

@media screen and (max-width: 1119px) {
  .testimonial_box{
    width: 81%;
  }
}

/* On screens that are 1000px wide or less */
@media screen and (max-width: 1106px) {
  .testimonial_box{
    width: 84%;
  }
}

@media screen and (max-width: 1084px) {
  .testimonial_section_title{
  color: #000;
  position: absolute;
  right: 105px;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 38.61%;
  background-color: #fff;
}

.testimonial_box{
  width: 82%;
  background-color: #3D3935;
}

.testimonial_1{
  background-color: #fff;
  width: 40%;
  padding: 45px;
  font-size: 14px;
}

.testmionial_1_image{
    max-width: 300px;
    max-height: 300px;
    overflow: hidden;
}

/* On screens that are 1000px wide or less */
@media screen and (max-width: 1050px) {
  .testimonial_box{
    width: 83%;
  }
}

/* On screens that are 1000px wide or less */
@media screen and (max-width: 1024px) {
  .Hero{
    height: 50vh;
  }
  .NavBar{
    position: absolute;
    right: 40px;
    top: 40px;
  }
  .NavBar a{
    font-size: 25px;
  }
  .BillyJoel{
    font-size: 40px;
    position: absolute;
    top: -15px;
    left: 45px;
  }
  .About {
    height: 50vh;
  }
  .Tour{
    height: 50vh;
    background-size: cover;
  }
  .testimonial_box{
    width: 83%;
  }
}

/* On screens that are 900px wide or less */
@media screen and (max-width: 979px) {
  .testimonial_1{
    background-color: #fff;
    width: 40%;
    padding: 40px;
    font-size: 12px;
  }
  .testmionial_1_image{
    max-width: 260px;
    max-height: 260px;
    overflow: hidden;
  }
}

/* On screens that are 1000px wide or less */
@media screen and (max-width: 874px) {
  .testimonial_box{
    width: 86%;
  }
  .tour_sectionbox{
    padding-left: 40px;
  }
}

/* On screens that are 768px wide or less */
@media screen and (max-width: 768px) {
  .NavBar{
    position: absolute;
    right: 30px;
    top: 20px;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

  .NavBar a{
    font-size: 20px;
  }

  .container{
    position: absolute;
    right: 45px;
    top: 30px;
    display: none;
  }
  .bar1{
    background-color: #fff;
  }
  .bar2{
    background-color: #fff;
  }
  .bar3{
    background-color: #fff;
  }

  .BillyJoel{
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: -37px;
    text-transform: uppercase;
  }

  #about_section{
    font-size: 12px;
  }
  .tour_sectionbox{
    padding-left: 35px;
  }

  .testimonial_box{
    width: 90%;
  }

  .testmionial_1_image{
    max-width: 245px;
    max-height: 245px;
    overflow: hidden;
  }

  .testimonial_1{
    background-color: #fff;
    width: 45%;
    padding: 35px;
    font-size: 11px;
  }
}

/* On screens that are 550px wide or less */
@media screen and (max-width: 550px) {
  .NavBar{
    display: none;
  }
  .container{
    display: block;
  }
  .BillyJoel{
    font-size: 30px;
    position: absolute;
    left: 30px;
    top: -20px;
    text-transform: uppercase;
  }
  .About{
    height: 30vh;
    background-attachment: scroll;
  }
  .about_section_title h1{
    font-size: 40px;
  }
  .sectionbox_about{
    display: none;
  }
  .About_mobile{
    display: flex;
    height: 40vh;
    background-color: #000;
  }
  .about_section_mobile{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 10px;
    position: relative;
    left: 10%;
  }
  .Tour{
    height: 30vh;
    background-attachment: scroll;
  }
  .tour_section_title h1{
    font-size: 40px;
  }
  button{
   display: none;
  }
  .chevron{
    display: none;
  }
  .tour_section_mobile{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #000;
  }
  .tours_mobile{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .tour_list1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    color:#000;
  }
  .tour_day{
    font-size: 55px;
    text-decoration: none;
  }
  .tour_month_year{
    font-size: 15px;
    line-height: 0%;
    text-decoration: none;
  }
  .tour_list_2{
    display: flex;
    flex-direction: column;
    width: 60%;
  }
  .tour_venue{
    font-size: 16px;
    line-height: 140%;
  }
  .tour_dates{
    line-height: 0px;
  }
  .testimonial_box{
    display: none;
  }
  .testimonial_box_mobile{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    position: relative;
    top: 10px;
  }
  .testmionial_1_image{
    max-width: 400px;
    max-height: 400px;
    overflow: hidden;
  }
  .testimonial_1{
    background-color: #3D3935;
    font-size: 11px;
    width: 80%;
    color: #fff;
  }
}

/* On screens that are 450px wide or less */
@media screen and (max-width: 450px) {
  .about_section_mobile{
    position: relative;
    left: 8%;
  }
  .testmionial_1_image{
    max-width: 320px;
    max-height: 320px;
    overflow: hidden;
  }
  .tour_sectionbox{
    padding-left: 22px;
  }
  .tour_day{
    font-size: 50px;
  }
  .tour_month_year{
    font-size: 14px;
  }
  .tour_venue{
    font-size: 12px;
    line-height: 140%;
  }
}

/* On screens that are 300px wide or less */
@media screen and (max-width: 300px) {
  .BillyJoel{
    font-size: 20px;
    position: absolute;
    left: 30px;
    top: 0px;
    text-transform: uppercase;
  }
  .container{
    height: 20px;
    width: 20px;
  }
  .about_section_title{
    position: absolute;
    top: 20px;
  }
  .about_section_title h1{
    font-size: 30px;
  }
  .About{
    height: 24vh;
    background-attachment: scroll;
  }
  .About_mobile{
    height: 55vh;
  }
  .Tour{
    height: 24vh;
  }
  .tour_section_title{
    position: absolute;
    top: 20px;
  }
  .tour_section_title h1{
    font-size: 30px
  }
  .tour_sectionbox{
    padding-left: 6px;
  }
  .tour_day{
    font-size: 30px;
  }
  .tour_month_year{
    font-size: 8px;
    line-height: 12px;
  }
  .tour_venue{
    font-size: 9px;
    padding: 7px;
  }
  .testimonial_layout h1{
    font-size: 30px;
    position: relative;
    left: -40px;
  }
  .testmionial_1_image{
    max-width: 260px;
    max-height: 260px;
    overflow: hidden;
  }
  .footer_nav a{
    padding: 5px;
    font-size: 10px;
  }
}

  @media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
  }

  @media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
  }

  /* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

  @media print {
    *,
    *:before,
    *:after {
      background: transparent !important;
      color: #000 !important;
      /* Black prints faster */
      -webkit-box-shadow: none !important;
      box-shadow: none !important;
      text-shadow: none !important;
    }
    a,
    a:visited {
      text-decoration: underline;
    }
    a[href]:after {
      content: " (" attr(href) ")";
    }
    abbr[title]:after {
      content: " (" attr(title) ")";
    }
    /*
       * Don't show links that are fragment identifiers,
       * or use the `javascript:` pseudo protocol
       */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
      content: "";
    }
    pre {
      white-space: pre-wrap !important;
    }
    pre,
    blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
    }
    /*
       * Printing Tables:
       * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
       */
    thead {
      display: table-header-group;
    }
    tr,
    img {
      page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
      orphans: 3;
      widows: 3;
    }
    h2,
    h3 {
      page-break-after: avoid;
    }
  }
